*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 90%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  scroll-behavior: smooth;
}

.container__imgs {
  display: flex;
  position: relative;
  width: 500%;
  height: 100%;
}

.container__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  /* object-position: 50% 50%; */
  /* transition: all 0.5s linear; */
  /* opacity: 1; */
}

.container__number{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

#carrousel_back {
  position: absolute;
  z-index: 15;
  left: 12%;
  top: 50%;
  color: blue;
}

#carrousel_next {
  position: absolute;
  z-index: 15;
  right: 12%;
  top: 50%;
  color: blue;
}